@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --cor-primaria: #915F32;
    --cor-secundaria: #CE9056;
    --cor-tercearia: #E1E6EB;
    --preto: black;
    --branco: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #915F32;
}

#logo-busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#form-busca {
    display: flex;
    align-items: center;
    position: relative;
    border: solid .1625rem var(--preto);
    border-radius: 1.25rem;
}

#logo {
    font-family: "Special Elite", system-ui;
    font-size: 56px;
    color: var(--preto);
}

#busca {
    width: 18.75rem;
    height: 2.5rem;
    outline: 0;
    border: none;
    border-radius: 1.25rem;
    background-color: transparent;
}

#icon-busca {
    left: 3.5%;
    position: absolute;
    z-index: 100;
}

#icon-mic {
    right: 3.5%;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

nav {
    background-color: var(--cor-secundaria);
    padding: 4px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    gap: 16px;
}

nav > a {
    font-family: "Special Elite", system-ui;
    font-size: 24px;
    color: var(--preto);
    cursor: pointer;
}

nav > a:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-tercearia);
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    background-color: var(--cor-tercearia);
}

#conteudo-principal {
    background-image: url(/imgs/backgroud.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
    background-color: var(--cor-primaria);
    font-family: "Special Elite", system-ui;
    color: var(--cor-tercearia);
    padding: 24px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 48px;
}

#copy {
    text-align: start;
}

#img-social {
    text-align: end;
}

#img-social img {
    margin: 0 8px;
}


#quem_somos {
    font-family: "Special Elite", system-ui;
    color: var(--cor-preto);
    text-align: center;

    display: flex;
    flex-direction: column;
}

#quem_somos > h1,p {
    margin: 24px auto;
}

#quem_somos > h1 {
    background-color: var(--cor-primaria);
    width: 300px;
    padding: 4.8px;
    border-radius: 10PX;
}

#quem_somos > p {
    padding: 0 80px;
    font-size: 40px;
}